/* tipografía */

/* fuente personalizada Maiandra GD */
@font-face {
    font-family: 'Maiandra GD Regular';
    src: url('./assets/fonts/24358_MAIAN.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Calibri';
    src: url('./assets/fonts/CALIBRIZ.TTF') format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
    /* background-color: rgb(189, 110, 110); */
    /* display: block; */
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {background-color: #1c1b17;}

body > header {
    width: 100%;
    height: 150px;
    background-color: #1c1b17;
    opacity: 0.9;
}

body > header {
    /* background-color: #1c1b17; */
    /* background-color: #0e861c; */
    font-weight: 500;
    font-style: italic;
    font-size: 20px;
    display: inline-block;
    width: 100%;
    /* altura del header */
    height: 190px; 

    /* FIJAR Y MOSTRAR EL ENCABEZADO ARRIBA */
    /* a mayor numero mas alto o mas bajo estará del resto de los objetos */
    z-index: 10;
    
    /* para dejar quieto el header */
    position: fixed;
    
}

#nombre {
    float: left;
    text-align: center;
    padding: 50px;

    width: 70%;
    /* width: 100%; */


    /* height: 40%; */
    margin-top: -40px;
    margin-left: 0px;
    height: 150px;
    font-family: 'Maiandra GD Regular';
    font-size: 24px;

    color: #ffffff;
    
    /* background-color: blue; */
}

#logo {
    float: right;
    display: inline;
    margin-top: 20px;
    margin-right: 30px;
    width: 230px;
    height: 150px;
    /* width: 550px; */
    /* height: 340px; */
    padding-right: 30px;
    padding: 40px;

    /* background-color: chocolate; */
    background-image: url('./assets/images/LogoMarcaSlogan.svg');

    background-position: center;
    background-size: cover; /* scale */
    /* background-repeat: none; */
    background-repeat: no-repeat;
}

#menues {
    /* background-color: #1c1b17; */
    /* background-color: rebeccapurple; */
    /* margin-top: 250px; */
    margin: 35px auto;
    /* padding: 20px 60px; */
    cursor: pointer;


    /* FIJAR Y MOSTRAR EL ENCABEZADO ARRIBA */
    /* a mayor numero mas alto o mas bajo estará del resto de los objetos */
    z-index: 10;
    /* para dejar quieto el header */
    position: fixed;

    margin-top: 150px;

}
 
a {
    text-decoration: none;
    padding: 20px 20px;
}

a:link {
    color: #9cc42f;
    /* background-color: #1c1b17; */
}


#menues > ul > li {
    font-family: 'Calibri';
    display: inline;
    /* width: 100%; */
    /* height: 100px; */
    /* background-color: #1c1b17; */
    /* background-color: red; */

    color: #0e861c;
    
    
    /* margin-top: 150px; */
    /* padding-top: 25px; */
    margin-inline: 0px;
    padding: 20px 40px;
    /* border-radius: 31px 10px 65px 15px; */
    /* border-image: url('./assets/protegernos.svg'); */
    transition: 1s;
}
/* hover es cuando mouse sobre el boton */
#menues > ul > li:hover {
    background-color: #9cc42f;
    /* color: #1c1b17; */
}

/* sobre en el boton con visited */
#menues > ul > li:visited, a:visited {
    color: #0e861c;
}

#menues > ul > li:active, a:active {
    color: #2f5306;
    
}

hgroup > h2, footer > h2 {
    /* color: 1c1b17; */

    color: #9cc42f;
    font-family: 'Maiandra GD Regular';
    font-size: 34px;
}

#perfil > p, footer>p {
    /* color: #ffffff; */
        color: #ffffff;
    font-family: 'Calibri';
    font-size: 20px;
}

table {
    font-family: 'Calibri';
    color:#ffffff;
    /* color: 1c1b17; */
    font-size: 20px;
}

th {
    font-weight: 600;
    /* background-color: #65Ab35; */
    color: #ffffff;
    /* color: 1c1b17; */
    height: 35px;
}

.impar {
    color: #ffffff;
    /* color: 1c1b17; */
}

.par {
    color: #9cc42f;
    /* color: 1c1b17; */
}

footer {
    color: #ffffff;
    /* color: 1c1b17; */
}

footer > p > strong {
    color:#35f84c;
    /* color: 1c1b17; */
}

tbody > tr:hover {
    color: #1c1b17;
    background-color: #9cc42f;
}



/* cuando posiciono el mouse encima */
/* a:hover {
    background-color: red;
    padding: 1rem 2.5rem;
} */

/* #menues > ul > li {
    background-color: red;
    padding: 1rem 2.5rem;
    /* font-weight: 800; */
/* }  */

/* .subMenuPerfil { */
    /* para no ocupar el espacio del 
    del menu principal */
    /* position:absolute; */
    /* acomodarlo debajo del menu
    principal */
    /* display: flex; */
    /* para que esten las opciones
    una debajo de otra */
    /* flex-direction: column; */
    /* para pegarlo a la etiqueta
    de menu que corresponde */
    /* left: 0; */
    

/* } */